<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home Page</title>
</head>
<body>
    <h2>Home Page</h2>
    <a href="view_user">View User</a><br>
    <a href="/update_user">Update User Data</a><br>
    <a href="/delete_user">Delete User</a>
    <form action="/add_user" method="post">
        <input type="text" id="name" name="name" placeholder="Name">
        <input type="email" id="email" name="email" placeholder="Email">
        <input type="number" id="age" name="age" placeholder="Age">
        <button type="submit">Add User</button>

    </form>
    {% if Error%}
        <p>{{Error}}</p>
    {% elif Message %}
        <p>{{Message}}</p>
    {% endif %}
</body>
</html>